#Keys values are given for development environment
#API Keys
API_PORT=3000
API_HOSTNAME=localhost
MONGO_PORT=27017
MONGO_USERNAME=sus-admin
MONGO_PASSWORD=sus-admin
MONGO_DATABASE=sus-db
MONGO_SERVICE=mongodb

FRONTEND_URL='http://localhost:5173'
BACKEND_URL='http://localhost:3000'

SSO_CLIENT_ID='sustainment-team-hackathon-project-5722'
SSO_CLIENT_SECRET=
SSO_REDIRECT_URI='http://localhost:3000/auth/callback'
